<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../sass/css/coupon.css" />
	</head>
	<body>
		<!--体验专区-->
		<div class="coupon">
			<div>
				<div></div>
				<div>累计投资额<span>{{limit}}</span>元</div>
			</div>
			<div>
				<div>
					<ul>
				        <li ng-repeat="invest in inlist">
				        	<div>
				        		<div>
				        		<p><span><a href="javascript:;">{{invest.name}}</a></span><span class="{{now == invest.status ? 'green':'red'}}">{{invest.status}}</span></p>
				        		<div>
				        			<div><img _src="../images/icon_date.png" alt="" /><span>{{invest.day}}</span><span>天</span></div>
				        			<div><img _src="../images/icon_date.png" alt="" /><span>{{invest.rate}}</span><span>%</span></div>
				        		</div>
				        		<p>{{invest.label}}</p>
				        		<div>
				        			<div><img _src="../images/icon_secured.png" src="../images/icon_secured.png" alt="" /><span>{{invest.admit}}</span></div>
				        			<div><img _src="../images/icon_style.png" src="../images/icon_style.png" alt="" alt="" /><span>{{invest.three}}</span></div>
				        		</div>
					        	</div>
					        	<div>
					        		<div>
					        			<span>{{invest.doing}}</span>
					        			<div><img _src="../images/icon_time.png" src="../images/icon_time.png" alt="" /><span class="span">{{invest.date}}</span></div>
					        		</div>
					        		<div>
					        			<p>剩余<span>{{invest.money}}</span><span>元</span><span>{{invest.and}}</span><span></span></p>
					        			<div>
					        				<div>
					        					<div></div>
					        				</div>
					        				<span>{{invest.ratio}}</span>
					        			</div>
					        		</div>
					        		<a href="javascript:;void(0)">{{invest.starts}}</a>
					        	</div>
				        	</div>
				        </li>
				    </ul>
				    <ul>
				    	<li><a href="javascript:;">第一页</a></li>
				    	<li><a href="javascript:;"><</a></li>
				    	<li><a href="javascript:;">1</a></li>
				    	<li><a href="javascript:;">2</a></li>
				    	<li><a href="javascript:;">3</a></li>
				    	<li><a href="javascript:;">4</a></li>
				    	<li><a href="javascript:;">5</a></li>
				    	<li><a href="javascript:;">></a></li>
				    	<li><a href="javascript:;">最末页</a></li>
				    </ul>
				</div>
			    <div>
			    	<!--环保投资风云榜-->
					<div>
						<div>
							<div><img _src="../images/icon_title.png" alt="" /><span>环保投资风云榜</span></div>
							<a href="javascript:;">更多 ></a>
						</div>
						<ul>
							<li>
								<span>排名</span>
								<span>用户</span>
								<span>投资金额（元）</span>
							</li>
							<li ng-repeat="item in tfirter">
								<span>{{item.ON}}</span>
								<span>{{item.id}}</span>
								<span>{{item.monry}}</span>
							</li>
						</ul>
					</div>
					<!--环保投资新人榜-->
					<div>
						<div>
							<div><img _src="../images/icon_title2.png" alt="" /><span>环保投资新人榜</span></div>
							<a href="javascript:;">更多 ></a>
						</div>
						<ul>
							<li>
								<span>排名</span>
								<span>用户</span>
								<span>投资金额（元）</span>
							</li>
							<li ng-repeat="item in tfirter">
								<span>{{item.ON}}</span>
								<span>{{item.id}}</span>
								<span>{{item.monry}}</span>
							</li>
						</ul>
					</div>
					<!--投资遇到问题-->
					<div>
						<div>
							<div><img _src="../images/icon_title3.png" alt="" /><span>投资遇到问题</span></div>
							<a href="javascript:;">更多 ></a>
						</div>
						<ul> 
							<li ng-repeat="item in where"><img _src="../images/dot.png" alt="" /><a href="javascript:;">{{item.list}}</a></li>
						</ul>
					</div>
			    </div>
			</div>
		</div>
	</body>
</html>
