<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../sass/css/investmentList.css" />
	</head>
	<body>
		<div ng-controller="investmentList" class="invest">
			<div>
				<div>
					<p>环保投资风云榜</p>
					<ul>
						<li>
							<span>排行</span>
							<span>用户</span>
							<span>投资金额（元）</span>
							<span>称号</span>
							<span>变化</span>
						</li>
						<li ng-repeat="item in invest">
							<span>{{item.No}}</span>
							<span>{{item.name}}</span>
							<span>{{item.money}}</span>
							<span>{{item.names}}</span>
							<span>{{item.status}}</span>
						</li>
					</ul>
					<ul>
						<li><a href="javascript:;">第一页</a></li>
						<li><a href="javascript:;"><</a></li>
						<li><a href="javascript:;">1</a></li>
						<li><a href="javascript:;">2</a></li>
						<li><a href="javascript:;">3</a></li>
						<li><a href="javascript:;">4</a></li>
						<li><a href="javascript:;">5</a></li>
						<li><a href="javascript:;">></a></li>
						<li><a href="javascript:;">最末页</a></li>
					</ul>
				</div>
				<div>
					<ul>
						<li>环保投资新人榜</li>
						<li>
							<span>排行</span>
							<span>用户</span>
							<span>投资金额（元）</span>
						</li>
						<li>
							<ul>
								<li ng-repeat="item in investone">
									<span>{{item.No}}</span>
									<span>{{item.name}}</span>
									<span>{{item.money}}</span>
								</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>环保贡献排行榜</li>
						<li>
							<span>排行</span>
							<span>用户</span>
							<span>环保贡献值</span>
						</li>
						<li>
							<ul>
								<li ng-repeat="item in investtwo">
									<span>{{item.No}}</span>
									<span>{{item.name}}</span>
									<span>{{item.money}}</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<p>最新数据更新于2017年07月23日 00:00:00</p>
				<div>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
				</div>
				<a href="javascript:;">加入众信</a>
			</div>
		</div>
	</body>
</html>
