<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../sass/css/manageteam.css"/>
	</head>
	<body>
		<!--管理团队-->
		<div class="manageteam">
			<ul>
				<li ng-repeat="item in manageteam">
					<div><img _src="{{item.image}}" alt="" /></div>
					<div>
						<p><strong>{{item.name}}</strong><span>{{item.post}}</span></p>
						<ul>
							<li ng-repeat="item in list">{{item}}</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
